<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Wisetrack</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Wisetrack</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_dartobservatory._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Necesitamos acceso a la cámara para tomar fotos</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Esta app necesita acceso a la red local para conectar las herramientas de desarrollo de Flutter (debugger, hot reload).</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Necesitamos tu ubicación para mostrarte en el mapa y centrar las funciones de navegación.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Necesitamos tu ubicación para mostrarte en el mapa y centrar las funciones de navegación.</string>
	<key>NSLocationDefaultAccuracyReduced</key>
	<false/>
	<key>NSLocationUsageDescription</key>
	<string>Necesitamos tu ubicación para mostrarte en el mapa y centrar las funciones de navegación</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Necesitamos tu ubicación para mostrarte en el mapa y centrar las funciones de navegación.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Necesitamos acceso a tus fotos para seleccionar imágenes para el perfil.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Te enviaremos notificaciones importantes sobre tus vehículos, auditorías y alertas del sistema.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
